*{
    padding: 0;
    margin: 0;

}
body{
    background-color: rgb(231, 229, 229);
    font-family: "Outfit";
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.componetes_form{
    margin-top: 50px;
    width: 900px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    
}
form .componetes_form{
    margin: 20px 90px;
}
.botoes ul{
    list-style: none;
}
.image_form{
    margin: 10px;
    width: 274px;
}
.botoes p{ 
    width: 100px;
    /* font-size: 20px;  */
}
.botoes{
    color: #fff;
    list-style: none;
    position: absolute;
    top: 80px;
    left: 250px;
}
.botao{
    background-color: hsl(243, 100%, 62%);
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 50%;
    border-width: 1px;
    color: #fff;
    border-color: #fff;
}
.botao-texto{
    width: 120px;
    float: right;
    margin: 5px;
}
.step{
    color: hsl(228, 100%, 84%);
}
.pagina{
    display: none;
}
.pagina-selecionada{
    display: block;
}
form .personal_info{
    margin: 20px 90px;
    height: 500px;
}
form h1{
    font-size: 34px;
    margin-bottom: 10px;
    color: hsl(213, 96%, 18%);
}
form p{
    font-size: 15px;
    opacity: 0.5;
}
form .personal_info p{
    margin-bottom: 30px;

}
form .personal_info form label{
    color: hsl(213, 96%, 18%);
    height: 20px;
    /* height: 200px;
    width: 200px;
    display: flex; */
}
form .personal_info input{
    width: 420px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border-width: 0.3px; 
    margin-bottom: 30px;
    cursor: pointer;
}
form button{
    width: 90px;
    height: 40px;
    float: right;
    border-radius: 9px;
    border-width:0;
    background-color: hsl(213, 96%, 18%); 
    color: #ffffff;
    position: absolute;
    top: 550px;
    right: 23%;
    cursor: pointer;
}
form .go-back{
    position: absolute;
    top: 550px;
    right: 48.5%;
    background-color: #fff; 
    color: hsl(200, 1%, 59%); 
    cursor: pointer;
}
form .go-back:hover{
    color: hsl(213, 96%, 18%);;
}
.botao_ativado{
    background-color: hsl(228, 100%, 84%);
    border: none; 
}

.desativado{
    display: none;
}
.step2, .step3 ,.step4{
    padding: 40px;
    height: 500px;
    margin: 0px 45px;
}
.radio-image{
    margin-top: 40px;
}
form .step2 label > input{
    width: 100px;
}
.radio-plano{    
    border:1px solid rgb(214, 211, 211);
    float: left;
    height: 150px;
    width: 130px;
    border-radius:10px;
    margin: 10px 10px 0 0px;
}
.radio-plano label{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    cursor:pointer;
}
.radio-image label > input{
    visibility: hidden;
}

.radio-plano .radio-image label{
    padding:10px;
    height: 200px;
    width: 200px;
    
}

.radio-image > div:hover{
    border:1px solid hsl(213, 96%, 18%);
}
.radio-image label img{
    height: 35px;
    width: 35px;
    margin: 5px 0px 30px 12px;
}

.titulo-checkbox{   
    opacity: 1;
    font-size: 17px;
    color:hsl(213, 96%, 18%);
}
.radio-plano p{   
    margin-left: 20px;
}
.check-year .check-year-bid{
    color: hsl(213, 96%, 18%);
    opacity: 1;
}
.check-monthly{
    margin-top: 5px;
}
.radio-selecionado{
    border:1px solid hsl(243, 100%, 62%); 
    display: flex;
}
/* criando input checkbox */
.check-switch{
    width: 98%;
    height: 30px;
    display: flex;
}
.check-switch label{
    width: 70px;
    margin: 10px;
    height: 88px;
}
.input-checkbox{
    margin-top: 20px;
    background-color: rgb(230, 235, 232);
    border-radius: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}
.check-switch label > input{
    visibility: hidden;
}
.check-switch label > i {
    background: hsl(213, 96%, 18%);
    display: flex;
    width: 50px;
    height: 26px;
    margin: 10px;
    border: 1px solid hsl(213, 96%, 18%); 
    border-radius: 20px;
}
.check-switch label > input + i:after {
    content: "";
    display: flex;
    width: 22px;
    margin: 2px;
    height: 22px;
    background: hsl(0, 0%, 99%);
    border-radius:20px;
    transition:0.2s;
}
.check-switch label >input:checked + i:after {
    background: hsl(0, 0%, 99%);
    margin-left: 24px
}
.check-switch .input-seleceinado{
    color: hsl(213, 96%, 18%); 
    opacity: 1;
}
/* criando step 3 */
.step3 > p, h1{
    margin-left:10px;
}
.step3 > p{
    margin-bottom: 40px;
}
.tipos-servicos{
    border:1px solid rgb(214, 211, 211);
    border-radius:10px;
    margin: 10px;
    width: 420px;
    height: 80px;
    display: flex;
    align-items: center;
}
.div-selecionada{
    border:1px solid hsl(243, 100%, 62%); 
}
.tipos-servicos:hover{
    cursor: pointer;
    border:1px solid hsl(243, 100%, 62%);
}

.text-check{
    width: 260px;
}
.check-preco, .check-preco-year{
    color: hsl(243, 100%, 62%);
    opacity: 1;

}
.tipos-servicos input[type='checkbox']{
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgb(194, 193, 193);
    border-radius: 3px;
    margin: 20px;
}
.tipos-servicos input[type='checkbox']:checked{
    background-image: url('../assets/images/square-check-solid.svg');
    background-color: transparent;
    height: 22px;
    width: 20px;
    display: block;
}
input[type='checkbox']:checked + .tipos-servicos{
    border:1px solid hsl(243, 100%, 62%);
}

/* step 4 */
.step4 p{
    margin-left: 10px;
}
#chage{
    margin-top: -15px;
}
.title-especificacao {
    margin-bottom: 5px;
    height: 70px;
}
.verificacao-dados{
    background-color: rgb(245, 243, 243);
    margin: 20px 10px;
    padding: 5px
}

.verificacao-dados p{
    width: 180px;
}
.especificacao{
    display: flex;
    align-items: center;
}
.especificacao p {
    margin: 10px;
}
.check-preco-verificacao{
    text-align: right;
    color: hsl(213, 96%, 18%);
    opacity: 1;
}
.step4 .titulo-checkbox{
    margin: 10px;
    margin-bottom: 0px;
}
.step4 .titulo-checkbox p{
    margin: 5px;
    
}
.step4 hr{
    opacity: 0.5;
    margin: 10px;
}
.especificacoes-total{
    margin: 30px 10px;
    display: flex;
}
.especificacoes-total p{
    width: 180px;
}
#preco_final{
    font-size: 22px;
    width: 200px;
    opacity: 1;
    text-align: right;
    color:hsl(243, 100%, 62%)
}
.confirme{
    background-color:hsl(243, 100%, 62%)
}
/* span */
.label-span{
    color: rgb(243, 22, 22);
    display: none;
}
.info-label{
    display: flex;
}
.info-label label{
    width: 65%;
}